:root { 
--green_A200_7f:#73fdaa7f; 
--gray_600:#7f7f7f; 
--gray_400:#c4c4c4; 
--gray_400_4c:#b5b5b54c; 
--green_A200:#73fdaa; 
--cyan_100:#bbffff; 
--black_900:#010010; 
--green_A200_af:#73fdaaaf; 
--white_A700:#ffffff; 
--green_A200_7a:#72fda97a; 
--green_A200_8e:#73fdaa8e; 
--green_A200_e2:#73fdaae2; 
--green_A200_5b:#72fda95b; 
}