
 @font-face { font-style : bold; src: url("assets/fonts/ralewaysemibold600.ttf"); font-family : "Raleway"; font-weight : 600;  }
 @font-face { font-style : bold; src: url("assets/fonts/montserratmedium500.ttf"); font-family : "Montserrat"; font-weight : 500;  }
 @font-face { font-style : bold; src: url("assets/fonts/montserratbold700.ttf"); font-family : "Montserrat"; font-weight : 700;  }
 @font-face { font-style : bold; src: url("assets/fonts/robotomedium500.ttf"); font-family : "Roboto"; font-weight : 500;  }